<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- simply declare properties directly -->
	<util:properties id="SQLQueries">
		<prop key="DirectJDBCExampleDao.getAllBeans">
			select * from person
		</prop>

		<prop key="DirectJDBCExampleDao.getBeanById">
			select * from person where id = ?
		</prop>

		<prop key="DirectJDBCExampleDao.insertBean">
			insert into person (firstname, lastname) values (?, ?)
		</prop>
	</util:properties>

</beans>
